<div id="contactsList">
    <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 1</label> </div>
    <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 2</label> </div>
    <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 3</label> </div>
    <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 4</label> </div>
    <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 5</label> </div>
    <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 6</label> </div>
    <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 7</label> </div>
    <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 8</label> </div>
    <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 9</label> </div>
</div>
    