.contact{
	height: 80px;
	width: auto;
	border-radius: 5px;
	border: 2px solid #5e54ce;
	margin-top:10px;
	background:  #d6d3ff;
}

.contact > img{
	margin: 3px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.contact label{
	font-size: 20px;
	color: blueviolet;
}
.contact:focus{
	background: #b3d4fc;
}

.selected {
	background: blueviolet !important;
}

.selected label {
	color: #d6d3ff !important;
}

.visible {
	display: none;
}

.dropdown {
	margin-right: 0;
	position: relative;
	float: right;
	width: auto;
}

.dropDownBtn {
	float: right;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin:0px;
	padding:0px;
	background:#bdb7ff;
}

.dropDownBtn > img {
	padding: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.dropdown:hover .dropDownBtn {
	background-color: rgb(159, 97, 218);
}

.dropDownContent {
	z-index: 1000;
	position: absolute;
	margin-left: -160px;
	margin-top: 10px;
	display: none;
	border: none;
	min-width: 160px;
	z-index: 1;
}

.dropDownContent > button {
	font-weight: normal;
	background: rgb(237, 222, 255);
	font-size: 15px;
	margin: 1px;
	position: relative;
	border: none;
	min-width: 160px;
	width: auto;
	float: right;
	color: black;
}

.dropDownContent > button:hover {
	font-weight: bold;
	background: rgb(225, 203, 253);
}


.dropdown:hover .dropDownContent {
	display: block;
}
