<div id="appWindow">

  <app-navigator></app-navigator>

  <div id="chatView">
    <div id="messageList">
      <div class="messageOut">
        <div class="messagetext">Este es un mensaje propio</div> <div class="hour">7:32</div>
      </div>
      <div class="messageIn">
        <div class="messagetext">Este es un mensaje ajeno</div> <div class="hour">7:32</div>
      </div>
      <div class="messageOut">
        <div class="messagetext">Este es un mensaje propio</div> <div class="hour">7:32</div>
      </div>
      <div class="messageIn">
        <div class="messagetext">Este es un mensaje ajeno</div> <div class="hour">7:32</div>
      </div>
      <div class="messageOut">
        <div class="messagetext">Este es un mensaje propio</div> <div class="hour">7:32</div>
      </div>
      <div class="messageIn">
        <div class="messagetext">Este es un mensaje ajenoEste es un mensaje ajenoEste es un mensaje ajenoEste es un mensaje ajenoEste es un mensaje ajenoEste es un mensaje ajenoEste es un mensaje ajenoEste es un mensaje ajeno</div> <div class="hour">7:32</div>
      </div>
      <div class="messageOut">
        <div class="messagetext">Este es un mensaje propio</div> <div class="hour">7:32</div>
      </div>
      <div class="messageIn">
        <div class="messagetext">Este es un mensaje ajeno</div> <div class="hour">7:32</div>
      </div>

    </div>
    <div id="typeBar">
        <input type="text" placeholder="Type a message">
        <button>
          <img src="/assets/images/send.jpg" dragable = false>
        </button>
    </div>

  </div>
</div>