<div id="appWindow">
  <div id="sideMenu">
    <div id="header">
      <img src="./../../assets/images/profile.png" dragable= false class="user">
      <button id="received">
        <img src="img/received.png" dragable = false>
      </button>
      <button id="sent">
        <img src="img/sent.png" dragable = false>
      </button>
    </div>

    <div id="searchBar">
      <input type="text" title="Search your friend list" value="Search your friend list">
      <button>
        <img src="img/search.png" dragable = false>
      </button>
    </div>

    <div id="chatsList">
      <div class="contact"><img src="./../../assets/images/profile.png"> <label> Friend 1</label> </div>
      <div class="contact"><img src="./../../assets/images/profile.png"> <label> Friend 2</label> </div>
      <div class="contact"><img src="./../../assets/images/profile.png"> <label> Friend 3</label> </div>
      <div class="contact"><img src="./../../assets/images/profile.png"> <label> Friend 4</label> </div>
      <div class="contact"><img src="./../../assets/images/profile.png"> <label> Friend 5</label> </div>
      <div class="contact"><img src="./../../assets/images/profile.png"> <label> Friend 6</label> </div>
      <div class="contact"><img src="./../../assets/images/profile.png"> <label> Friend 7</label> </div>
      <div class="contact"><img src="./../../assets/images/profile.png"> <label> Friend 8</label> </div>
      <div class="contact"><img src="./../../assets/images/profile.png"> <label> Friend 9</label> </div>
    </div>

  </div>

  <div id="chatView">
    <div id="messageList">

      <div class="messageOut">
        <div class="texto"><label>Este es un mensaje propio</label></div> <div class="hour">7:32</div>
      </div>
      <div class="messageIn">
        <div class="texto"><label>Este es un mensaje ajeno</label></div> <div class="hour">7:32</div>
      </div>
      <div class="messageOut">
        <div class="texto"><label>Este es un mensaje propio</label></div> <div class="hour">7:32</div>
      </div>
      <div class="messageIn">
        <div class="texto"><label>Este es un mensaje ajeno</label></div> <div class="hour">7:32</div>
      </div>
      <div class="messageOut">
        <div class="texto"><label>Este es un mensaje propio</label></div> <div class="hour">7:32</div>
      </div>
      <div class="messageIn">
        <div class="texto"><label>Este es un mensaje ajeno</label></div> <div class="hour">7:32</div>
      </div>
      <div class="messageOut">
        <div class="texto"><label>Este es un mensaje propio</label></div> <div class="hour">7:32</div>
      </div>
      <div class="messageIn">
        <div class="texto"><label>Este es un mensaje ajeno</label></div> <div class="hour">7:32</div>
      </div>

    </div>
    <div id="typeBar">
        <input type="text" title="Type a message" value="Type a message">
        <button>
          <img src="img/send.jpg" dragable = false>
        </button>
    </div>

  </div>
</div>