<div id="appWindow">
  <div id="sideMenu">
    <div id="header">
      <img src="/assets/images/profile.png" dragable= false class="user" id="profilePicture">
      <button id="button1">
        <img src="/assets/images/Solid.png" dragable = false>
      </button>
      <button id="button2" (click)=logout()>
        <img src="/assets/images/Inrupt.png" dragable = false>
      </button>
    </div>

    <div id="searchBar">
      <input type="text" placeholder="Search contacts">
      <button>
        <img src="/assets/images/search.png" dragable = false>
      </button>
    </div>

    <div id="contactsList">
      <script> document.write("Branch for working in RDF test")</script>
      <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 1</label> </div>
      <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 2</label> </div>
      <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 3</label> </div>
      <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 4</label> </div>
      <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 5</label> </div>
      <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 6</label> </div>
      <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 7</label> </div>
      <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 8</label> </div>
      <div class="contact"><img src="/assets/images/profile.png"> <label> Friend 9</label> </div>
    </div>

  </div>

  <div id="chatView">
    <div id="messageList">
      <div class="messageOut">
        <div class="messagetext">Este es un mensaje propio</div> <div class="hour">7:32</div>
      </div>
      <div class="messageIn">
        <div class="messagetext">Este es un mensaje ajeno</div> <div class="hour">7:32</div>
      </div>
      <div class="messageOut">
        <div class="messagetext">Este es un mensaje propio</div> <div class="hour">7:32</div>
      </div>
      <div class="messageIn">
        <div class="messagetext">Este es un mensaje ajeno</div> <div class="hour">7:32</div>
      </div>
      <div class="messageOut">
        <div class="messagetext">Este es un mensaje propio</div> <div class="hour">7:32</div>
      </div>
      <div class="messageIn">
        <div class="messagetext">Este es un mensaje ajenoEste es un mensaje ajenoEste es un mensaje ajenoEste es un mensaje ajenoEste es un mensaje ajenoEste es un mensaje ajenoEste es un mensaje ajenoEste es un mensaje ajeno</div> <div class="hour">7:32</div>
      </div>
      <div class="messageOut">
        <div class="messagetext">Este es un mensaje propio</div> <div class="hour">7:32</div>
      </div>
      <div class="messageIn">
        <div class="messagetext">Este es un mensaje ajeno</div> <div class="hour">7:32</div>
      </div>

    </div>
    <div id="typeBar">
        <input type="text" placeholder="Type a message">
        <button>
          <img src="/assets/images/send.jpg" dragable = false>
        </button>
    </div>

  </div>
</div>