<div id="header">
    <img src="/assets/images/profile.png" dragable= false class="user" id="profilePicture">
    <button id="button1"></button>
    <button id="button2" (click)="logout()"></button>
</div>

<!-- Images 
<img src="/assets/images/Solid.png" dragable = false>
<img src="/assets/images/Inrupt.png" dragable = false>
-->

<div id="searchBar">
    <input type="text" placeholder="Search contacts">
    <button>
        <img src="/assets/images/search.png" dragable = false>
    </button> 
</div>
