<div id="header">
    <img [src]="loadPicture()" dragable= false class="user" id="profilePicture">
    <label id='username'>{{ loadName() }}</label>
    <div class='dropdown'> 
        <button class='dropDownBtn'>
          <img src='assets/images/dots.png'>
        </button>
        <div class= 'dropDownContent'>
          <button [routerLink]="['/friends']" routerLinkActive="router-link-active" (click)="resetSelectedFriendList()" id="buttonFriends">Create Chat</button>
          <button  id="buttonLogout" (click)="logout()"> Logout</button>
          <button id='docs' onclick="window.open('https://arquisoft.github.io/dechat_en3b/docs/','_blank')"> Documentation</button>
        </div>
      </div>
  </div>

<div id="searchBar">
    <input type="text" placeholder="Search contacts" (keyup)="filter()" id= "filterForContacts">
    <button>
        <img src="assets/images/search.png" dragable = false>
    </button> 
</div>
