:host {
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-rows: auto 30%;
}

#header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	box-sizing: border-box;
	border: inherit;
	border-width: 0 0 3px 0px;
	padding: 20px;
	background: #e3e0f7;
    width: 100%;
    height: auto;
}

img.user{
	height: auto;
	width: 50px;
	max-width: 20%;
	border-radius: 50%;
}

#header > button{
	padding: 0px;
	height: 50px;
	width: 50px;
	background:#bdb7ff;
	border-radius: 50%;
}

#header > button > img{
	padding: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}


#searchBar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	box-sizing: border-box;
	border: inherit;
	border-width: 0px 0px 3px 0px;
	padding: 7px;
	width: 100%;
}
#searchBar > input{
    width:75%;
    height: 50%;
}
#searchBar > button{
	padding: 0px;
	height: 30px;
	width: 30px;
	background: #bdb7ff;
	border-radius: 50%;
}
#searchBar > button > img{
	height: 25px;
	width: 25px;
}

#header > a {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding: 4px;
	border: 2px solid black;
}

#header > a > img {
	max-width: 100%;
	max-height: 100%;
}

#username {
	font-size: 25px;
	font-weight: bold;
	color: rgb(70, 50, 131);
	width: 150px;
	text-align: center;
}

.dropdown {
	margin-right: 0;
	position: relative;
	float: right;
	width: auto;
}

.dropDownBtn {
	float: right;
	height: 50px;
	width: 50px;
	background:#bdb7ff;
	border-radius: 50%;
	margin:0px;
	padding:0px;
}

.dropDownBtn > img {
	padding: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.dropdown:hover .dropDownBtn {
	background-color: rgb(207, 184, 228);
}

.dropDownContent {	
	padding: 2px;
	z-index: 1000;
	position: absolute;
	margin-left: 30px;
	margin-top: 30px;
	display: none;
	border: none;
	min-width: 160px;
	z-index: 1;
}

.dropDownContent > button {
	font-weight: normal;
	background: rgb(237, 222, 255);
	font-size: 18px;
	border-radius: 0%;
	margin: 2px;
	position: relative;
	border: none;
	min-width: 160px;
	min-height: 20px;
	width: auto;
	float: right;
	color: black;
}

.dropDownContent > button:hover {
	font-weight: bold;
	background: rgb(225, 203, 253);
}


.dropdown:hover .dropDownContent {
	display: block;
}
